$fontRegular: "Biennale Regular";
$fontBold: "Biennale Bold";
$fontLight: "Biennale Light";

$corPrimaria1: #3bd42d;
$corPrimaria2: #5e49ff;
$corPrimaria3: #25cbd3;
$corPrimaria4: #f0f5ff;

$cinza0: #f4f4f4;
$cinza1: #dadada;
$cinza2: #7c7786;
$cinza3: #4d4c4d;
$cinza4: #333333;
$cinza5: #e5e5e5;
$branco: #fff;
$vermelho: #ff0000;

$desktopBreakpoint: 992px;
